---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
---

{% include base_path %}

<link rel="icon" type="image/png" href="/images/wondering_earth.png" sizes="512x512">
<link rel="apple-touch-icon" sizes="512x512" href="/images/wondering_earth.png">

{% include head.html %}
{% include head/custom.html %}

{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}