---
layout: default
author_profile: false
---

{% include base_path %}

<link rel="icon" type="image/png" href="/images/wondering_earth.png" sizes="512x512">
<link rel="apple-touch-icon" sizes="512x512" href="/images/wondering_earth.png">

{% include head.html %}
{% include head/custom.html %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>
    {% include base_path %}
    {% for post in page.posts %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
</div>